<template>
  <div style="background: #eff6ff; padding: 35px 0 100px 0">
    <router-view />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
a {
  text-decoration: none;
}
* {
  font-family: "Poppins";
  color: #27272a;
}
body {
  margin: 0;
}
p {
  margin: 0;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dcenter {
  display: flex;
  justify-content: center;
}
.dbetween {
  display: flex;
  justify-content: space-between;
}
</style>
