<template>
  <div style="padding: 0 3rem">
    <h2 style="margin: 1px 0">Post a photo</h2>
    <router-link
      to="/"
      style="
        padding: 0;
        background: transparent;
        color: #3b82f6;
        font-size: 14px;
      "
    >
      See all Post
    </router-link>
    <br /><br />
    <input type="file" @change="photoAdded" />
    <br />
    <textarea
      style="margin-top: 10px"
      cols="50"
      rows="10"
      v-model="capt"
      placeholder="Type some caption here"
    ></textarea>
    <br />
    <button
      type="button"
      style="
        padding: 10px 20px;
        background: #3b82f6;
        color: #eff6ff;
        font-size: 12px;
        border-radius: 8px;
        border: none;
      "
      @click="postPhoto"
    >
      Post a photo
    </button>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";

export default {
  setup() {
    let capt = ref("");
    const postPhoto = () => {
      console.log(capt.value);
    };

    const photoAdded = (e) => {
      console.log(e.target.files);
    };

    return {
      capt,
      photoAdded,
      postPhoto,
    };
  },
};
</script>
