<template>
  <div class="home col-center">
    <h1 style="margin: 0 0 5px 0">All Post</h1>
    <router-link
      to="/CreatePost"
      style="
        padding: 10px 20px;
        background: #3b82f6;
        color: #eff6ff;
        font-size: 12px;
        border-radius: 8px;
      "
    >
      Post a photo
    </router-link>

    <div class="postList">
      <section class="post">
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/241074099.jpg?k=f40072bf7486a82e6ee6e92f3e8233f5aa0d0683a8743d2a57424ea398c57d77&o=&hp=1"
          alt=""
        />
        <div class="dbetween">
          <p style="margin-bottom: 10px; font-size: 18px">RezaLev</p>
          <div>
            <input
              type="text"
              style="width: 90px; border: none"
              placeholder="give a tip"
            />
            <button
              style="
                background: transparent;
                border: none;
                padding: 0;
                color: #3b82f6;
              "
            >
              send
            </button>
          </div>
        </div>

        <p style="font-size: 13px">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa
          adipisci quo quasi odit earum libero doloremque. Nesciunt ab et iusto
          sed eum ex, dolorem veniam quam? Nulla vel ipsa eaque?
        </p>
      </section>
    </div>
  </div>
</template>

<script>
import Web3 from "web3";
import DeMage from "../../../build/contracts/DeMage.json";
import { computed, onMounted, reactive, ref } from "vue";
export default {
  setup() {
    const accounts = reactive([]);
    const currentAccount = ref("");
    const isWeb3 = computed(() => {
      return window.ethereum ? "Ethereum Exist" : "Non Ethereum Browser";
    });

    async function loadWeb3() {
      if (window.ethereum) {
        window.web3 = new Web3(window.ethereum);
        await window.ethereum.enable();
      } else if (window.web3) {
        window.web3 = new Web3(window.web3.currentProvider);
      } else {
        console.error("Fuck");
      }
    }

    const loadAccounts = async () => {
      accounts.push(...(await window.web3.eth.getAccounts()));
      currentAccount.value = accounts[0];
      const netId = await window.web3.eth.net.getId();
      console.log(netId);
      const netwData = DeMage.networks[netId];
      if (netwData) {
        const demage = new window.web3.eth.Contract(
          DeMage.abi,
          netwData.address
        );
        const imgCount = await demage.methods.imgCount().call();
        console.log(imgCount);
      } else {
        console.error("no data");
      }
    };

    onMounted(() => {
      loadWeb3();
      loadAccounts();
    });

    return {
      accounts,
      currentAccount,
      isWeb3,
    };
  },
};
</script>
  

<style>
.post {
  background: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  width: 400px;
  margin: 30px 0;
}

.post img {
  width: 100%;
  border-radius: 12px;
}
</style>
